/* Стил за целия документ */
body {
    font-family: Arial, sans-serif; /* Избор на шрифт */
    margin: 0;
    padding: 0;
    background-color: #e3e3e3; /* Цвят на фона */
}

/* Стил за основния контейнер */
.form-container {
    max-width: 800px; /* Максимална ширина на контейнера */
    margin: 0 auto; /* Центриране на контейнера */
    padding: 3%; /* Вътрешен отстъп */
    background-color: #ffa40d; /* Цвят на фона */
    border-radius: 5px; /* Закръглен край */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Сянка */
}

.form-container.form-text {
                            height: 3%;
                            margin-top: 5%;
}

/* Стил за малките текстове */
.small-text {
    font-size: 12px; /* Големина на шрифта */
    color: #9b51c2; /* Цвят на текста */
}

/* Стил за формулярните полета */
.form-control {
    width: 100%; /* Ширина на полетата */
    padding: 10px; /* Вътрешен отстъп */
    margin-bottom: 20px; /* Отстояние между полетата */
    border: 1px solid #ccc; /* Граница */
    border-radius: 5px; /* Закръглен край */
}

/* Стил за бутона за регистрация */
.button {
    padding: 10px 20px; /* Вътрешен отстъп */
    background-color: #9b51c2;
    color: #e3e3e3;
    border: none; /* Без граница */
    border-radius: 5px; /* Закръглен край */
    cursor: pointer; /* Курсор при ховър */
    transition: background-color 0.3s; /* Плавна промяна на цвета на фона */
}

/* Промяна на цвета на бутона при ховър */
.button:hover {
    background-color: #e3e3e3;
    color: #9b51c2;}

/* Стил за футъра */
footer {
    background-color: #ffa40d; /* Цвят на фона */
    color: #fff; /* Цвят на текста */
    padding: 20px; /* Вътрешен отстъп */
    text-align: center; /* Центриран текст */
    border-radius: 5px; /* Закръглен край */
}


#title {
    padding-left: 30%;
    color: #9b51c2;
    font-size: 30px;
}

#butt{
    padding-left: 41%;
}

.switch-container {
    display: inline-block;
    vertical-align: middle;
}

.switch-labels {
    display: flex;
    align-items: center;
}

.switch-labels span {
    margin-right: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2196F3;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #ff3b6a;
}

input:focus + .slider {
    box-shadow: 0 0 1px #ff3b6a;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
