<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/images/logoIndex.jpg" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/parent-register.css">
    <title>РЕГИСТРАЦИЯ НА РОДИТЕЛ</title>
</head>
<main>
    <header>
        <a id="logo" style="float: left;" href="/home">
            <img  src="/images/logoChildoLand.jpg" alt="logo" style="max-width: 200px;">
        </a>
        <nav>
            <ul id="field">
                <th:block sec:authorize="!isAuthenticated()">
                    <li id="home"><a href="/start">НАЧАЛО</a></li>
                    <li id="login"><a href="/login">ВХОД</a></li>
                    <li id="logout"><a href="/register">РЕГИСТРАЦИЯ</a></li>
                </th:block>
                <li> <div id="house" sec:authorize="isAuthenticated()"><a  th:href="@{/home}">НАЧАЛНА СТРАНИЦА</a>
                </div></li>
                <li> <div id="exit" sec:authorize="isAuthenticated()"><a  th:href="@{/logout}">ИЗХОД</a>
                </div></li>
            </ul>
        </nav>
    </header>

    <div class="registration-container">
        <h2 id="title"><b>РЕГИСТРАЦИЯ НА РОДИТЕЛ</b></h2>

        <div class="row g-3">
            <form th:action="@{/parent-register}" method="POST" th:object="${parentRegistrationDto}">
                <div>
                    <div class="col-auto">
                        <label for="inputFirstName" class="col-form-label text-light">Име</label>
                    </div>
                    <div class="col-auto">
                        <input th:text="*{firstName}" th:errorclass="bg-danger" name="firstName" type="text"
                               id="inputFirstName"
                               class="form-control"
                               aria-describedby="firstNameHelpInline">
                    </div>
                    <div class="col-auto">
                        <small th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" id="firstNameError"
                               class="text-light form-text bg-danger rounded">
                            characters</small>
                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label for="inputLastName" class="col-form-label text-light">Фамилия</label>
                    </div>
                    <div class="col-auto">
                        <input th:field="*{lastName}" th:errorclass="bg-danger" name="lastName" type="text"
                               id="inputLastName"
                               class="form-control"
                               aria-describedby="lastNameHelpInline">
                    </div>
                    <div class="col-auto">
                        <small th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" id="lastNameError"
                               class="text-light form-text bg-danger rounded">
                            characters</small>
                    </div>
                </div>

                <div>


                    <div>
                        <div class="col-auto">
                            <label for="inputPhone" class="col-form-label text-light">Телефонен номер</label>
                        </div>
                        <div class="col-auto">
                            <input th:field="*{phoneNumber}" th:errorclass="bg-danger" name="phone" type="text"
                                   id="inputPhone"
                                   class="form-control"
                                   aria-describedby="phoneHelpInline">
                        </div>
                        <div class="col-auto">
                            <small th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"
                                   id="phoneError"
                                   class="text-light form-text bg-danger rounded">Username length must be more than 3
                                characters</small>
                        </div>
                    </div>

                    <div>
                        <div class="col-auto">
                            <label for="inputEmail" class="col-form-label text-light">Имейл</label>
                        </div>
                        <div class="col-auto">
                            <input th:field="*{email}" th:errorclass="bg-danger" type="text" name="email"
                                   id="inputEmail"
                                   class="form-control"
                                   aria-describedby="emailHelpInline">
                        </div>
                        <div class="col-auto">
                            <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" id="emailError"
                                   class="text-light form-text bg-danger rounded">Must be valid email</small>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label for="inputPassword" class="col-form-label text-light">Парола</label>
                    </div>
                    <div class="col-auto">
                        <input th:field="*{password}" th:errorclass="bg-danger" type="password" name="password"
                               id="inputPassword"
                               class="form-control"
                               aria-describedby="passwordHelpInline">
                    </div>
                    <div class="col-auto">
                        <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}" id="passwordError"
                               class="text-light form-text bg-danger rounded">Password length must be between 5 and 20
                            characters
                            characters</small>
                    </div>
                </div>
                <div>
                    <div class="col-auto">
                        <label for="inputConfirmPassword" class="col-form-label text-light">Потвърдете паролата</label>
                    </div>
                    <div class="col-auto">
                        <input input th:field="*{confirmPassword}" th:errorclass="bg-danger" type="password"
                               name="confirmPassword"
                               id="inputConfirmPassword" class="form-control"
                               aria-describedby="confirmPasswordHelpInline">
                    </div>
                    <div class="col-auto">
                        <small th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"
                               id="confirmPasswordError" class="text-light form-text bg-danger rounded">Password length
                            must be between 5 and 20 characters</small>
                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label for="inputChildrenEGN" class="col-form-label text-light">ЕГН на детето / децата </label>
                    </div>
                    <div class="col-auto">
                        <input th:field="*{childEGN}" th:errorclass="bg-danger" name="childrenEGN" type="text"
                               id="inputChildrenEGN"
                               class="form-control"
                               aria-describedby="childrenEGNHelpInline">
                    </div>
                    <div class="col-auto">
                        <small th:if="${#fields.hasErrors('childEGN')}" th:errors="*{childEGN}"
                               id="childrenEGNError"
                               class="text-light form-text bg-danger rounded">Username length must be more than 3
                            characters</small>
                    </div>
                </div>

                <div class="form-row m-5">

                    <div id="butt" class="d-flex justify-content-center mt-4">
                        <button class="button" type="submit">Регистрация</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
<footer>
    <div class="footer-r">
        &copy; ЧИЛДОЛАНД 2024
    </div>
</footer>
</body>
</html>